{% extends "../simple.html" %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
{% comment %} chineseword is actually ChineseWord, some kind of instance of it? {% endcomment %}
{% comment %} Should better understand generic.DetailView {% endcomment %}
{% comment %} {% block title %}Language Test{% endblock %} {% endcomment %}
{% block body %}
<div style="margin: auto; width: 70%; border-style:solid; background-color:white;">

    <p style="text-align:center;">
        <span style="text-align:center; border-style:solid; 
        border-width:thin; font-size:60px;">
            {{ chineseword.simplified }}
        </span>
    </p>

    <style>
        .hiddenDef { visibility: hidden;}
        .visibleDef { visibility: visible;}
    </style>
    <div class="hiddenDef" style="text-align:center">
        <p><b>{{ chineseword.pinyin }}
           <br/><br/>
           {{ chineseword.definition }}</b>
           <br/><br/>
        </p>
    </div>
    <p id="log"></p>
    <script type="text/javascript">
        function showMeTheDef() {
            document.getElementsByClassName('hiddenDef')[0].className = 'visibleDef'
        };

        document.addEventListener("keyup", function(event) {
        // up-arrow
        if (event.keyCode === 38) {
            document.getElementById("showAnswer").click();
        }
        // left-arrow
        if (event.keyCode === 37) {
            document.getElementById("correct").click();
        }
        // right-arrow
        if (event.keyCode === 39) {
            document.getElementById("incorrect").click();
        }
        });
    </script>
    <div style="text-align:center"><button id="showAnswer" onClick=showMeTheDef()>Show Answer (UP)</button></div>

    <div style="text-align:center">
        <form id="myForm" action="{% url 'cw:answer' quiz_id=quiz_id word_id=chineseword.id %}" method="post">
            {% csrf_token %}
            <button id="correct" type="submit" name="choice" value="correct">Correct (LEFT)</button>
            <button id="incorrect" type="submit" name="choice" value="incorrect">Incorrect (RIGHT)</button>
        </form>
    </div>
</div>
{% endblock %}
