<h3>Description</h3>

<p>This test is designed to quickly estimate your reading ability in a language.</p>

<h3>Test settings</h3>

<select id="language">
    <option value="" disabled="disabled" selected="selected">Choose Language</option>
    <option value="mandarin_simp">Mandarin - simplified 中文简体）</option>
    <option value="mandarin_trad">Mandarin - traditional 中文繁體）</option>
    {% comment %} <option value="french">French （français）</option> {% endcomment %}
</select>

<select id="Dataset">
    <option value="" disabled="disabled" selected="selected">Choose Dataset</option>
    <option value="HSK1">HSK1</option>
    <option value="HSK2">HSK2</option>
    <option value="all_freq">Freq dataset</option>
    {% comment %} <option value="audi">Audi</option> {% endcomment %}
</select>


Let's start!
