{% extends "../simple.html" %}
{% block body %}
<div style="margin: auto; width: 70%;border-style:solid;background-color:white;">

    <p style="text-align: center;">This quiz aims to quickly estimate the number of words that you know.
    On average you will be asked X questions.  <br/>Please answer honestly for an honest estimate!</p>

    <form id="submissionForm" action="{% url 'cw:create_quiz' %}" method="post">
        {% csrf_token %}
        <div style="display:block; margin:0 auto; width:50%">
            {% comment %} TODO avoid duplication, and ideally get dataset names programmatically {% endcomment %}
            <input type="radio" name="dataset" value="hsk1" id="HSK1" checked>
            <label for="HSK1">HSK1</label>

            <input type="radio" name="dataset" value="hsk2" id="HSK2">
            <label for="HSK2">HSK2</label>

            <input type="radio" name="dataset" value="hsk3" id="HSK3">
            <label for="HSK3">HSK3</label>

            <input type="radio" name="dataset" value="hsk4" id="HSK4">
            <label for="HSK4">HSK4</label>

            <input type="radio" name="dataset" value="hsk5" id="HSK5">
            <label for="HSK5">HSK5</label>

            <input type="radio" name="dataset" value="hsk6" id="HSK6">
            <label for="HSK6">HSK6</label>
        </div>
        <br/>

        <input style="display: block; margin: auto; width: 50%;" type="submit" name="choice">
    </form>
</div>
{% endblock %}
